{% extends 'clip/base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
    <div class="info">
     Вся красота у нас! <span class="info1" >Сайт  размещен с рекламной целью. Магазин не работает) worker.search772@gmail.com</span>
    </div>
    </div>
   <div class="row">
  {% for hairclip in hairclip_list %}
    <div class="col-12 col-sm-4" style="border: 1px solid #c7e7ed; height: 22.5em">
    <div class="hairclip_list__item ">
    <form action="{% url 'clip:cart' %}"method="GET">{% csrf_token %}
    <input type="hidden"  name="view" value="{% url 'clip:all' %}" />
    <h1 class="title"><a href="{% url 'clip:detail'  hairclip.id %}">{{ hairclip.title }}</a></h1>
    <img src="{{hairclip.img.url}}" alt="{{ hairclip.img.name }}"><button name="product" value="{{ hairclip.pk }}"
                    type="submit" class="btn btn-outline-warning">купить</button></form>
     <h2>{{ hairclip.characteristic }}</h2>
     <h2>{{ hairclip.price }} грн</h2>

     </div>
     </div>
  {% endfor %}
    </div>
    </div>
{% endblock %}
