{% extends 'clip/base.html' %}
{% block content %}

<div class="cart">
<div class="container-fluid ">
     <div class="row">
            <div class="col-sm-4">


                     <form action="{% url 'clip:manage_cart' %}" method="GET">
                      {% csrf_token %}


                     {% for obj in page_obj %}
                     <h1>{{ obj.title }}</h1>

                      <img src="{{obj.img.url}}" alt="{{ obj.img.name }}">
                      <span>{{obj.price}} грн</span>
                      <button name="plus" value="{{ obj.pk }}" type="submit" class="btn btn-outline-warning"> плюс 1</button>
                      <button name="minus" value="{{ obj.pk }}" type="submit" class="btn btn-outline-warning"> минус 1</button>

                      <h2>{{ obj.characteristic}}</h2>
                      <p>{{obj.quantity}}  шт</p>


        {% endfor %}
                     </form>

            <pre>Всего:  {{ total }}  грн</pre>
            </div>
            <div class="col-sm-4">
                <h1> Оформить заказ</h1>
                <div class="form">


                <form action="{% url 'clip:order' %}" method="POST" >
                    {% csrf_token %}
                       <table>
                          {{ form  }}

                       </table>

                       <button type="submit" name="order" value="{{ page_obj }}" class="btn btn-outline-warning"style="background-color: white; width: 100%;
                       margin-left:0px;">подтвердить заказ</button>
               </form>
</div>
</div>
</div>
</div>
</div>

{% endblock %}
