{% extends 'clip/base.html' %}
{% block content %}


{% if not page_obj %}
<div class="container-fluid ">
<h1 style="text-align: center; margin-top: 70px;">Самое время выбрать что-нибудь подходящее))) В корзине  пока пусто. </h1>
</div>
{% else %}
<div class="container-fluid ">
<div class="cart">
     <div class="row">
            <div class="col-sm-4">


                     <form action="{% url 'clip:manage_cart' %}" method="GET">
                      {% csrf_token %}


            {% for obj in page_obj %}
                     <h1>{{ obj.title }}</h1>
                      <div class="incart">
                      <img src="{{obj.img.url}}" alt="{{ obj.img.name }}">
                      <span>{{obj.price}} грн</span>


                      <button name="plus" value="{{ obj.pk }}" type="submit" style="" > плюс 1</button>

                      <button name="minus" value="{{ obj.pk }}" type="submit"> минус 1</button>
                      </div>
                      <h2>{{ obj.characteristic}}</h2>
                      <p>{{obj.quantity}}  шт</p>


             {% endfor %}
                     <pre>Всего:  {{ total }}  грн</pre>
                     </form>
            </div>

                        <div class="col-sm-3">
                        <h1> Оформить заказ</h1>
                        <div class="form">
                        <form action="{% url 'clip:order' %}" method="POST" >
                            {% csrf_token %}
                               <table>
                                  {{ form  }}
                               </table>
                               <button type="submit" name="order" value="{{ page_obj }}"
                                       style="background-color: white; width: 100%;
                               margin-left:0px;">подтвердить заказ</button>

                         </form>

</div>
</div>
</div>
</div>
</div>
</div>


{% endif %}



{% endblock %}
