{% extends 'clip/base.html' %}
{% load static %}
{% block content %}
<div class="container-md mt-lg-5">
<div class="row">
       {% for crab in page_obj %}
          <div class="col-sm-4" style="border: 1px solid #c7e7ed">
          <div class="crab_list__item ">
          <form action="{% url 'clip:cart' %}" method="GET">{% csrf_token %}
              <input type="hidden"  name="view" value="{% url 'clip:category_crab' %}" />
          <h1 class="title"><a href="{% url 'clip:detail' crab.id %}">{{ crab.title }}</a></h1>
          <img src="{{crab.img.url}}"></<img>
          <button name="product" value="{{ crab.pk }}"
          type="submit" class="btn btn-outline-warning ml-md-3">купить</button></form>
          <h2>{{ crab.characteristic}}</h2>
          <h2>{{ crab.price}} грн</h2>
          </div>
          </div>
        {% endfor %}
</div>
</div>
{% endblock %}
