{% extends 'clip/base.html' %}
{% load static %}


{% block content %}




      <div class="crab_list__item ">
         <div class="container-fluid ">

         <div class="row">



                 {%  for crab in crab_list %}
                    <div class="col-sm-6">
                    <div class="crab_list__item ">



                    <h1><a href="{% url 'clip:detail' crab.id %}">{{ crab.title }}</a></h1>
                    <img src="{{crab.img.url}}">   <a href="#" class="button btn btn-outline-warning">купить</a>


                    <h2>{{ crab.characteristic}}</h2>
                    <h2>{{ crab.price}} грн</h2>

                    </div>

                    </div>




    {% endfor %}
  </div>
   </div>
   </div>


{% endblock %}


{% block num %}
<nav aria-label="...">
  <ul class="pagination justify-content-center">
   <li class="page-item disabled">
       {% if crabs.has_previous %}
    <a class="page-link" href="?page={{ crabs.previous_page_number }}" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
       {% endif %}
    <li class="page-item"><a class="page-link" href="?page=1">&laquo;>1</a></li>
    <li class="page-item" aria-current="page">
      <a class="page-link" href="?page=2">&laquo;>2 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="?page=3">&laquo;>3</a></li>
    <li class="page-item">

      <a class="page-link" href="?page={{ crabs.next_page_number }}">Next</a>

    </li>
  </ul>
</nav>

{% endblock %}