.navigation {margin-bottom: 20px;
             font-size: 200%;

             border-bottom: 6px double pink;
              border-top: 6px double pink;
             font-family: 'Lobster';
             }
.form   {border: 3px double #b4b5aa;border-radius: 8px; width: 450px; padding: 20px;background:#faf2f8; }

div img {border: 6px double #e0cee0;border-radius: 6px;}


button {margin-left:30px;
       transition: all 9999999s;color: pink; border: 2px solid pink;border-radius: 4px;background-color: white; width: 80px;
       height: 40px; }

button:hover {background-color: #c7e7ed; }

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px lightskyblue;
}

.navbar-brand{font-size: 100%;}

.navigation .navbar-brand{
    color: white; text-shadow: pink 2px 2px 0}

.nav-link {
    color: white !important;}

.hairclip_list__item {margin-bottom: 80px;}

.crab_list__item{margin-bottom: 80px;}

table {margin-bottom: 30px;margin-top: 30px;}

th {background-color: #faf2f8;}
td, th {text-align: center}
h1, h2, p, span, pre, table  {
       font-family: 'Lobster', cursive;
       color: #b4b5aa}


h1 a{color: #b4b5aa}

img + a{margin-left:30px;}

h1,pre  {font-size: 20pt;}

h2, p, table {font-size: 15pt;}

.detail {margin-left:30px;}




.pagination {margin-top: 30px;}

.page-item {padding: 8px;
            border: 1px dotted orange;}



.cart {margin-left:10px;}
