.navigation {margin-bottom: 20px;
             font-size: 150%;
             width: 200%;
             font-family: 'Lobster';
             border: 6px dotted pink;

             }


.hairclip_list__item {margin-bottom: 80px;}

.crab_list__item{margin-bottom: 80px;}

h1, h2, p, span, pre {
       font-family: 'Lobster', cursive;
       color: #828282;

       }
img + a{margin-left:30px;}

h1,pre{font-size: 20pt;
   }
h2, p{font-size: 15pt;

   }
.detail {margin-left:30px;
}
button {margin-left:30px;
       transition: all 9999999s
        }
.pagination {margin-top: 50px;
            }
.page-item {padding: 8px;
            border: 1px dotted orange;}

div img {border: 5px dotted pink;}

.cart {margin-left:10px;}
